language: php

php:
  - '7.0'
  - '7.1'
  - '7.2'

sudo: false

install:
  - travis_retry composer self-update
  - travis_retry composer install

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  slack:
    secure: YYqmOGEHsMlPTLtqGJsCfpgXWsyc3huiAjQdzUWbnk8lpicZP3SZrcyeXpli/48ZDBPHacB5r/K6+gS2ffaGJqg4WMA9c6948YnVPOez05tnIm6MDaxoW3t3yJn0X6BEByA7FcfXoxgG3MCiQJEgHzqB7uGMcLtqjPQ5XZaTmhjWKcMOEj8usQ9UmvzeA1RmMLkULjWHkEWwcRtVbUYCVHAFJfcTd9gAz5c9vUp5NfWHyUHceCtLc5RKnjIMz8uGYVBygC/FIQyA1sKjlpzeM+AtT1XLFEiyLYqXrjUKpNgMmaAg4KVLo0MZIV1l8aBVhDclmnoaF86iM2BeNYYJeN4JjzQmB8wzflDsnNL58pf0u8XoH7O6JlBiANtD36Hhkd2q1FvOU0iQPJElv/zGOk5UHBlb6IXfPoTStzXlbDQUX+enMH0y71McImnhqxFuDVV06UB2w7WuVblqGuAgLkL7HP4aGZuDXnLapj0E0fgiMONSWZ24HlJWd5gqzclZv0RMcgfN0D1BfK6XYO0q2Qh2qUgvvdlgYj2sFfBR4kk5e9qTKCOhs/CC30oK6IT64/6B7wBks2M/ub0fCa1J3olplaczDL5i/nvtXE0LDQ3ionGDrkO9sFJCasMuqXSdcSCvk8px8Ht6dt5F1dHRCv5xoUmhgepOacwNX1ifwN0=
