<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors                      = "true"
        bootstrap                   = "tests/bootstrap.php" >

    <testsuites>
        <testsuite name="Dnsimple Test Suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>live</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>